body{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0;
}
.name-color{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img {
    width:80% ;  
}
.link-text{
    text-decoration: none;
    background-image: linear-gradient(orangered, rgb(218, 79, 15));
    padding: 7px 28px;
    border-radius: 10%;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.angta-2{
background-image: linear-gradient(tomato, orangered) ;
padding: 7px 28px;
border-radius: 10px;
text-decoration: none;
color: white;
font-weight: 700;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    